
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html, body {
  background-color: black;
  margin: 1px;
  padding: 4px;
  scroll-behavior: smooth;
}
body {
  background-color: #141313;
  text-align: center;
  color:black gradient;
  text-align: center;
}
.app-container {
  max-width: 100%;
  margin: auto;
  padding: 0;
}
header {
  background-image: linear-gradient(to right top, #3f353b, #3d353c, #272528, #39363f, #37373f,
   #232324, #303236, #383b3f, #33383b, #393c3d, #333636, #323535);
  color: white;
  
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

section {
  padding: 40px 20px;
  margin: 20px 0;
  background-image: linear-gradient(to right top, #601741, 
  #5c1e4e, #54265a, #4a2e64, #3c356d, #2e3d74, #1d4578, #004c7b, #00557a, #005d75, #00646c, #176963);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100vh; 
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2 {
  color: #151414;
  margin-bottom: 10px;
}

#projects ul {
  list-style: none;
  padding: 0;
}

#projects ul li {
  background: #f6f2f2;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

#contact a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-image: linear-gradient(to right top, #3f353b, #3d353c, #3b363e, #39363f,
   #37373f, #3b3d45, #3f444c, #434a52, #4d5960, #58686d, #647779, #728685);
  color: white;
  padding: 15px 0;
  margin-top: 20px;
}