* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  background-color: black;
  scroll-behavior: smooth;
}

.app-container {
  max-width: 100%;
  margin: auto;
  padding: 0;
}

header {
  background-color:black;
  color: white;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff9900;
}

.section {
  padding: 50px 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

.rainbow-text {
  font-family: Georgia;
  font-weight: 550;
  text-transform: uppercase;
  font-size: 2.5rem;
  background-image: linear-gradient(to right, rgb(150, 22, 230), rgba(0, 38, 255, 0.482), rgba(31, 234, 95, 0.504), red, orange);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section full-screen{
  padding: 40px 20px;
  background: linear-gradient(to right top, #2065cc, #141c45, #bd1f73, #6007a4, #9a1ca8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}